@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  /* background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #ff8800); */
}
::selection{
  color: #fff;
  background: #ff8800;
}
img {
  position: fixed;
  top: 5vh;
}
.container{
  width: 370px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 100px 35px 10px 35px;
}
.container header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #fa7f2d;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #000;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

/* custom alert */
#alert-container {
  display: none; /* Initially hide the alert container */
  position: fixed;
  top: 91%;
  left: 51%;
  transform: translateX(-50%);
  z-index: 999; 
}

#alert {
  background-color: #f0f0f0; 
  color: #333;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; 
}

#alert-message {
  font-size: 16px;
}

#alert-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  transition: color 0.2s ease-in-out;
}

#alert-close:hover {
  color: #333;
}

/*  Alert Types  */
#alert.success {
  background-color: #d4ffec; 
  color: #3c763d;
}

#alert.error {
  background-color: #f9dede; 
  color: #a94442;
}

.forgot-password a,
.signup-link a {
  color: #aaa; 
  text-decoration: none; 
  transition: color 0.2s ease-in-out; 
}

.forgot-password a:hover,
.signup-link a:hover {
  color: #f08000;
}
.remember-me {
    display: flex;
    align-items: center;
    font-size: 14px; 
  }
  
  .remember-me input[type="checkbox"] {
    margin-right: 5px; 
  }

.field.remember-me {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .field.remember-me input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #e47610; 

  }
  .field.remember-me label {
    margin-left: 5px; 
  }
  